//font sizes - for reference and future building

// mark donatelli title     desktop 90 mobile 60

//home header large         desktop 170 mobile 75

//section title             desktop 115 mobile 75

//project title             desktop 65  mobile 35

//project p                 desktop 18  mobile 16

// Font Variables
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$playfair: 'Playfair Display', serif;
// Styles
body {
  font-family: $poppins;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $poppins;
}

a {
  font-family: $poppins;
}

p {
  font-family: $raleway;
}

.font-playfair {
  font-family: $playfair;
}

.font-raleway {
  font-family: $playfair;
}

.font-poppins {
  font-family: $poppins;
}

.font--grey {
  color: $font--grey;
}

//font sizes
.font-xl {
  font-size: 80px;
  font-weight: 600;
  line-height: 85px;
}

.title-lg {
  font-size: 72px;
}

.sub-title--grey {
  letter-spacing: 2px;

  color: $grey;

  font-size: 16px;
}

.font-red {
  color: $red;
}
