// Font Variables
$poppins: 'Poppins', sans-serif;

// Styles
body {
  font-family: $poppins;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $poppins;
}

a {
  font-family: $poppins;
}

p {
  font-family: $poppins;
}

.font-poppins {
  font-family: $poppins;
}

.font--grey {
  color: $font--grey;
}

//font sizes
.font-xl {
  font-size: 80px;
  font-weight: 600;
  line-height: 85px;
}

.title-lg {
  font-size: 72px;
}

.sub-title--grey {
  letter-spacing: 2px;

  color: $grey;

  font-size: 16px;
}

.font-red {
  color: $red;
}
